<header role="banner">
    <nav role="navigation">
        <h1>
            <a href="#">{{ site.title }}</a>
        </h1>

        <ul class="nav-ul">
            {% for p in site.pages %}
                {% unless p.url == '/' %}
                    <li>
                        <a href="{{ p.url | relative_url }}">
                            {{ p.title }}
                        </a>
                    </li>
                {% endunless %}
            {% endfor %}
        </ul>
    </nav>
</header>
